
.ui-btn {
	background: #eee;
	border: 1px solid #ccc;
	border-bottom-color: #b3b3b3;
	cursor: pointer;
	color: #333;
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	margin-right: 0;
}

.ui-btn:hover, .ui-btn:focus, .ui-btn:active, .ui-btn.active,
.ui-btn.disabled, .ui-btn[disabled] {
	background-color: rgb(221, 221, 221);
}

.ui-btn:focus {
  outline: 0px solid rgb(51, 51, 51);
  outline-offset: -1px;
}
.ui-btn:hover, .ui-btn:focus {
  color: rgb(51, 51, 51);
  text-decoration: none;
  background-position: 0px -15px;
  transition: background-position 0.1s linear 0s;
}

.ui-btn.disabled, .ui-btn[disabled] {
	cursor: default;
	background-image: none;
	opacity: .65;
	filter: alpha(opacity=65);
}
.ui-btn-primary {
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,0.25);
	background-color: #006dcc;
}
.ui-btn-primary:hover, .ui-btn-primary:focus, .ui-btn-primary:active, .ui-btn-primary.active, .ui-btn-primary.disabled, .ui-btn-primary[disabled] {
  background: none repeat scroll 0% 0% rgb(0, 68, 204);
}

.ui-btn-success {
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,0.25);
	background-color: #5bb75b;
}
.ui-btn-success:hover, .ui-btn-success:focus, .ui-btn-success:active, .ui-btn-success.active, .ui-btn-success.disabled, .ui-btn-success[disabled] {
  color: rgb(255, 255, 255);
  background-color: rgb(81, 163, 81);
}

.ui-btn-danger {
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,0.25);
	background-color: #da4f49;
}
.ui-btn-danger:hover, .ui-btn-danger:focus, .ui-btn-danger:active, .ui-btn-danger.active, .ui-btn-danger.disabled, .ui-btn-danger[disabled] {
  color: rgb(255, 255, 255);
  background-color: rgb(189, 54, 47);
}

.ui-btn-warning {
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,0.25);
	background-color: #faa732;
}
.ui-btn-warning:hover, .ui-btn-warning:focus, .ui-btn-warning:active, .ui-btn-warning.active, .ui-btn-warning.disabled, .ui-btn-warning[disabled] {
  color: rgb(255, 255, 255);
  background-color: rgb(248, 148, 6);
}

.ui-btn-info {
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,0.25);
	background-color: #49afcd;
}
.ui-btn-info:hover, .ui-btn-info:focus, .ui-btn-info:active, .ui-btn-info.active, .ui-btn-info.disabled, .ui-btn-info[disabled] {
  color: rgb(255, 255, 255);
  background-color: rgb(47, 150, 180);
}

.ui-btn-inverse {
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,0.25);
	background-color: #363636;
}
.ui-btn-inverse:hover, .ui-btn-inverse:focus, .ui-btn-inverse:active, .ui-btn-inverse.active, .ui-btn-inverse.disabled, .ui-btn-inverse[disabled] {
  color: rgb(255, 255, 255);
  background-color: rgb(34, 34, 34);
}

.ui-btn-link {
	border-color: transparent;
	cursor: pointer;
	color: #08c;
}
.ui-btn-link:hover, .ui-btn-link:focus {
  color: rgb(0, 85, 128);
  text-decoration: underline;
  background-color: transparent;
}

/* =========== 各种尺寸的btns ============== */
.ui-btn-mini {
	padding: 0 6px;
	font-size: 10.5px;
	-wekit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.ui-btn-small {
    padding: 2px 10px;
    font-size: 11.9px;
    border-radius: 3px 3px 3px 3px;
}

.ui-btn-large {
    padding: 11px 19px;
    font-size: 17.5px;
    border-radius: 6px 6px 6px 6px;
}

/* ========== btn group ========= */
.ui-btn-group {
	display: inline-block;
	font-size: 0;/* 消除btn之间的间隔*/
	position: relative;
	white-space: nowrap;
	vertical-align: middle;
}
.ui-btn-group > a {
	text-decoration: none;
}
.ui-btn-group > .ui-btn:first-child {
	margin-left: 0;
}

.ui-btn-group > .ui-btn, .ui-btn-group > .dropdown-menu,
.ui-btn-group > .popover {
	font-size: 14px;
}
.ui-btn-group > .ui-btn {
	position: relative;
}

.ui-btn-group-vertical {
	display: inline-block;
}
.ui-btn-group-vertical > .ui-btn {
	display: block;
	float: none;
	max-width: 100%;
}

/* ========== button icon ========== */
.ui-btn .caret {
	margin-top: 8px;
	margin-left: 0;
}




.open {
	z-index: 1000;
  *z-index: 1000;
}

.open > .dropdown-menu {
  display: block;
}
